* {
    margin: 0px;
    color: white;
    font-family: Outfit,sans-serif;
}
div{
    unicode-bidi: isolate;
}
.nav {
    height: 70px;
    width: 100%;
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}

.genitem {
    opacity: 0.9;
    transition-duration: 400ms;
    font-size: large;
}

.genitem:hover {
    opacity: 1;
    cursor: pointer;
}

.genitem>button {
    width: 7rem;
    height: 3rem;
    color: black;
    /* border: 1px solid white; */
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    opacity: 1;
    transition-duration: 0.3s;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.logo {
    width: 40%;

}

.logo>img {
    height: 40px;
    width: 100px;
    margin-left: 1rem;
}

.logo>img:hover {
    cursor: pointer;
}

.general {
    /* height: 50px; */
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 10rem;
    margin-right: 1rem;
    font-size: 18px;

}

.menu {
    display: none;
}

a {
    text-decoration: none;
}

.content {
    height: 80%;
    /* width: 82%; */
    padding: 0 10rem 0 10rem;
    margin: 1px auto;
    margin-top: 80px;
}

.searchbar {
    display: flex;
    justify-content: space-between;
}

.searchbar>h1 {
    color: rgb(78, 78, 78);
}

.searchbar>input {
    padding: 5px;
    border: 1px solid rgb(144, 143, 143);
    font-size: 15px;
    color: black;
}

.element {
    box-sizing: border-box;
    gap: 10px 10px;
    height: 80%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
}

.elementitem {
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color: #f5f5f5;
    text-align: center;
}
.elementitem:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}
.elementitem>p{
    color: black;
    opacity: 0.8;
    /* width: 150px; */
    font-size: 0.9rem;
    letter-spacing: 0.1px;
}

.first {
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: center;
    
}
.first img{
    /* height: ; */
    width: 90px;
}
.first>h2 {
    margin-top: 15px;
    margin-bottom: 40px;
}
.cks>img{
    height: 120px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 2rem;
}
.cka>img{
    height: 120px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 2rem;
}
.ckad>img{
    height: 120px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 2rem;
}

.kubevirt>img{
    height: 2.5rem;
    margin-top: 6rem;
}
.git>img{
    height: 40px;
    width: 60px;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
}
.linux>img{
    height: 70px;
    width: 70%;
    margin-top: 4.2rem;
    margin-bottom: 1rem;
}
.ica>img{
    height: 80px;
    /* width: 90px; */
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}
.lfcs>img{
    height: 80px;
    /* width: 90px; */
    width: 65%;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}
.grafana>img{
    height: 80px;
    width: 75%;
    margin-top: 4.5rem;
    margin-bottom: 0.5rem;
}
.thanos>img{
    height: 30px;
    /* width: 90px; */
    width: 50%;
    margin-top: 6.5rem;
    margin-bottom: 0.5rem;
}
.argo>img{
    height: 40px;
    /* width: 90px; */
    width: 50%;
    margin-top: 6.5rem;
    margin-bottom: 0.5rem;
}
.flux>img{
    height: 40px;
    
    width: 50%;
    margin-top: 6.5rem;
    margin-bottom: 0.5rem;
}
.ansible>img{
    height: 50px;
    
    width: 60%;
    margin-top: 6.5rem;
    margin-bottom: 0.5rem;
}
.hashicorp>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.datastax>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.keptn>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.opentofu>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.kubewala>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.openfeature>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.packflow>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.istio>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.redpanda>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.linkred>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.nginx>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.kubernetes>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.k3w>img{
    height: 40px;
    width: 30%;
    margin-top: 6.5rem;
    margin-bottom: 0.5rem;
}
.vim>img{
    height: 40px;
    width: 20%;
    margin-top: 6.5rem;
    margin-bottom: 0.5rem;
}
.terrascan>img{
    height: 50px;
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}
.footer{
    height: 90%;
    background-color: black;
    margin-top: 40rem;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-right: 20rem;
}

.footer-first{
    margin: 2rem 0 0 5rem;
}
.footer-second, .footer-third{
    margin: 5rem 0 0 20rem;
}
.footer-second ul, .footer-third ul{
    /* padding-top: 0.7rem; */
    margin-top: 3.5rem;
}
.footer li{
    margin-bottom: 2rem;
}
.footer-second, .footer-third{
    padding-top: 3rem;
}
ul{
    padding-left: 0px;
    /* text-decoration: none; */
    list-style-type: none;
    margin-top: 3rem;
    text-align: left;
    font-size: 0.9rem;
}
.footer-first ul{
    margin-top: 1.5rem;
}

.footer-third i{
    color: white;
}
.footer-first>img{
    height: 7rem;
    width: 7rem;
}
.footer h2{
    font-weight: 100;
}
